.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.button {
  border: none;
  outline: none;
  border-radius: 5px;
  color: black;
  background-color: #d9d9d9;
  padding: .5rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.button:hover {
  outline: 1px solid darkgray;
}
table {
  width: 100%;
}
app-media{
  margin: 20px auto; /* Centralizar horizontalmente */
  max-width: 600px; /* Defina uma largura máxima para evitar que as tabelas fiquem muito largas */
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
