<div class="button-container">
  <button type="button" class="button" (click)="listar()">Lista de pessoas</button>
  <button type="button" class="button" (click)="Media()">Media de renda</button>
</div>
@if(listPeople){
  <table mat-table [dataSource]="listaP" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="raca">
      <th mat-header-cell *matHeaderCellDef> Cor </th>
      <td mat-cell *matCellDef="let element"> {{element.raca}} </td>
    </ng-container>

    <ng-container matColumnDef="renda">
      <th mat-header-cell *matHeaderCellDef> Renda </th>
      <td mat-cell *matCellDef="let element"> {{element.renda}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunaLista"></tr>
    <tr mat-row *matRowDef="let row; columns: colunaLista;"></tr>
  </table>

}
@if(listMedia){
  <table mat-table [dataSource]="listaM" class="mat-elevation-z8">

    <ng-container matColumnDef="raca">
      <th mat-header-cell *matHeaderCellDef> Cor </th>
      <td mat-cell *matCellDef="let element"> {{element.raca}} </td>
    </ng-container>

    <ng-container matColumnDef="Media">
      <th mat-header-cell *matHeaderCellDef> Média </th>
      <td mat-cell *matCellDef="let element"> {{element.mediaRendaValor}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunaMedia"></tr>
    <tr mat-row *matRowDef="let row; columns: colunaMedia;"></tr>
  </table>
}
