
<div ngIf="mostrarFormulario">
  <form (ngSubmit)="CadastrarUsuario()">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" [(ngModel)]="usuario.nome" required><br/>

      <label for="raca">Raça:</label>
      <input type="text" id="raca" name="raca" [(ngModel)]="usuario.raca" required>
      <label for="renda">Renda:</label>
      <input type="number" id="renda" name="renda" [(ngModel)]="usuario.renda" required>

      <button type="submit">Cadastrar Usuário</button>
    </form>
  </div>


<form ngIf="mostrarFormulario">
  <label for="id">ID do Usuário:</label>
  <input type="number" id="id" [(ngModel)]="id" name="id" />

  <label for="nome">Nome:</label>
  <input type="text" id="nome" [(ngModel)]="usuario.nome" name="nome" />

  <label for="raca">Raça:</label>
  <input type="text" id="raca" [(ngModel)]="usuario.raca" name="raca" />

  <label for="renda">Renda:</label>
  <input type="text" id="renda" [(ngModel)]="usuario.renda" name="renda" />

  <button type="button" (click)="Atualizar()">Atualizar Usuário</button>
</form>

<label for="id">ID do Usuário:</label>
<input type="number" id="id" [(ngModel)]="id" name="id" />

<!-- Adicione um botão para acionar a função Deletar -->
<button type="button" (click)="Deletar()">Deletar Usuário</button>


