/* Estilos para a Seção de Cadastro/Edição */
.container-form {
  max-width: 600px;
  margin: 0 auto;
}

.card-header {
  background-color: #007bff;
  color: #fff;
}

.card-body {
  padding: 20px;
}

/* Estilos para a Tabela */
.container-table {
  margin-top: 20px;
}

.table-primary {
  background-color: #007bff;
  color: #fff;
}

/* Botões de Ação */
.btn-action {
  margin-right: 5px;
}

/* Estilos para os Inputs no Formulário */
.form-control {
  margin-bottom: 10px;
}

/* Adicione mais estilos conforme necessário */
