<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row">
    <span class="center-text larger-font margin-down">Media</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="button-container">
  <button type="button" class="button" (click)="showMediaComponent()">Media </button>
  <button type="button" class="button" (click)="showUsuarioComponent()">Usuario </button>
</div>

<section class="sec">
  <ng-container *ngIf="currentComponent === 'media'">
    <app-media></app-media>
  </ng-container>

  <ng-container *ngIf="currentComponent === 'usuario'">
    <app-usuario></app-usuario>
  </ng-container>


</section>
