<mat-toolbar [ngStyle]="{}" color="primary">
  <mat-toolbar-row class="toolbar-row">
    <span class="center-text larger-font margin-down"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-content">
  <h2 class="content-title">Média de úsuarios</h2>

<div class="button-container">
  <button type="button" class="button" (click)="irParaUsuario()">Usuario</button>
  <button type="button" class="button" (click)=" irParaMedia()">Listar </button>
</div>

  <router-outlet></router-outlet>


