.mat-toolbar {
  background-color: #a3a3a3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
  padding-bottom: 8px;
}

.toolbar-row {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px auto;
  max-width: 1000px;
}

.content-title {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%; /* Garante que o título ocupe a largura total disponível */
  color: #000000;
}

.center-text {
  text-align: center;
  width: 100%;
}

.larger-font {
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center; /* Adiciona centralização ao texto */
}

.margin-down {
  margin-top: 10px;
}

.sec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  text-align: center;
}

.button {
  margin: 0 21px;
  width: 40%;
  height: 50%;
  padding: 20px 50px;
  font-size: 22px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 10px;
  outline: none;
}

.button:hover {
  background-color: #75787b;
}

.margin-down {
  margin-bottom: 60px;
}

.sec {
  margin: 0;
}

/* Adicione estilos específicos para cada componente se necessário */
app-usuario {
  margin: 20px auto;
  max-width: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

app-media {
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
